### exec
exec-once=waybar
exec-once=fcitx5
exec-once=awww-daemon
exec-once=wl-paste --type text --watch cliphist store
exec-once=wl-paste --type image --watch cliphist store
exec-once=wl-clip-persist --clipboard regular
exec-once=/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1

### env
# qt
env=QT_AUTO_SCREEN_SCALE_FACTOR,{{ (index .monitors 0).scale }}
env=QT_QPA_PLATFORM,wayland;xcb
env=QT_QPA_PLATFORMTHEME,qt6ct
env=QT_WAYLAND_DISABLE_WINDOWDECORATION,1

# xdg
env=XDG_MENU_PREFIX,arch-

# fcitx5
env=QT_IM_MODULE,fcitx
env=XMODIFIERS,@im=fcitx
